/* GENERAL */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 60px;
}

.container {
    width: 72%;
    margin: auto;
    display: flex;
}

.coloredBG {
    background-color: #5f80b9;
    color: white;
}

/* HEADER */
header {
    margin-bottom: 80px;
}

header .container {
    justify-content: space-between;
}

header .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;

}

header .col-4 img {
    width: 100%;

}

.col-5 {
    width: 500px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header ul {
    padding-top: 60px;
    padding-bottom: 60px;
}

li {
    float: left;
    padding-left: 25px;
}


/* INICI */

.slogan {
    margin-bottom: 80px;
    text-align: center;
    font-style: italic;
    font-weight: 650;
    color: #5b7bb3;
}

.spaced {
    margin-top: 100px;
    margin-bottom: 100px;
}

.videoContainer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.videoContainer iframe {
    width: 100%;
    height: 82.5%;
    position: absolute;
    top: 0;
    left: 0;
}

/* PROJECTE */

.fotoEquip {
    border-radius: 35px;
    width: 80%;
    margin: 40px auto;
}

.image-container {
    position: relative;
    display: inline-block;
    padding: 0;
    width: 30%;
    margin: 1.5%;
    border-radius: 15px;
}

.image-container img {
    width: 100%;
    border-radius: 15px;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(91, 123, 179, 0.8);
    border-radius: 15px;
}

.image-container:hover .text-overlay {
    opacity: 1;
}

.text-overlay h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.text-overlay p {
    font-size: 16px;
    text-align: center;
    color: white;
}

/* INSTAL·LACIÓ */

.inst img {
    border-radius: 20px;
}

.col-7 p {
    padding: 70px 10px;
}

.inst .col-4 img,
.inst .col-4 h2,
.inst .col-4 p {
    width: 92%;
    display: flex;
    margin-top: 26px;
    border-width: 4px;
    transition: transform .2s;
}

.inst .col-4 img {
    margin-top: 60px;
    border-style: ridge;
    border-color: white;
    border-width: 3px;
}

.mapText {
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
}

.map {
    margin: 40px auto 180px;
}

/* ESPAI ANÒNIM */
.darkBG {
    background-color: #232323;
    color: white;
}

.darkBG a {
    color: white;
}

.blueBtn {
    margin: auto;
    width: 200px;
    text-align: center;
    background-color: #5f80b9;
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 28px;
    border-radius: 15px;
    border-style: none;
}

/* ESPAI ANÒNIM 2 */
.posts {
    margin-bottom: 100px;
}

.posts .col-4 p {
    background-color: white;
    color: black;
    margin: 25px 15px;
    padding: 30px;
    border-radius: 30px;
    font-size: 16px;
    transition: opacity 0.5s ease-in-out;
    position: relative;
}

.posts .col-4 p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../IMG/comment.png);
    background-size: 25px 25px;
    background-position: calc(100% - 20px) calc(100% - 20px);
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.posts .col-4 p:hover::before {
    opacity: 1;
}



.plusBtn {
    z-index: 3;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    position: fixed;
}

.postMaker {
    position: fixed;
    z-index: 4;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.postContent {
    position: fixed;
    width: 500px;
    margin-bottom: 10px;
    padding: 90px 30px 40px;
    border-radius: 40px;
    background-color: #5f80b9;
    color: white;
    text-align: center;
    font-size: 50px;
}

.show {
    display: flex;
}

.closeBtn {
    position: absolute;
    top: 40px;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 75px;
}

textarea {
    font-size: 16px;
    height: 200px;
    width: 85%;
    padding: 8px 16px;
    border-radius: 18px;
    border-style: none;

}

.postBtn {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 18px;
    border-style: none;
}

/* FOOTER */
/* .footer {
    text-align: center;
    background-color: #3e3d43;
    color: white;
}

.footer .container {
    display: block;
}

.footer p {
    text-align: center;
    padding: 60px;
}

.footer a {
    margin: 0px 15px;
    color: white;
}

.copyright {
    opacity: 0.7;
}

.fb,
.twt,
.ig,
.yt {
    transition: transform .2s;
}

.fb:hover {
    color: #3b5998;
    transform: scale(2);
}

.twt:hover {
    color: #32ccfe;
    transform: scale(2);
}

.ig:hover {
    color: #bc2a8d;
    transform: scale(2);
}

.yt:hover {
    color: #ff0000;
    transform: scale(2);
} */


/* MOBILE */
@media screen and (max-width: 1200px) {
    .col-4 {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    header .container {
        padding: 42px;
    }

    header .col-5 {
        width: 100%;
    }

    header .col-4 {
        width: 80%;
    }

    .col-4 {
        width: 50%;
    }

    .col-6,
    .col-6,
    .col-10 {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        text-align: justify;
    }

    header ul {
        width: 400px;
    }

    .form {
        margin-top: 50px;
    }

    .posts .col-4 {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    header {
        margin-bottom: 00px;
    }

    header .col-4 {
        width: 100%;
    }

    .equip .col-2 {
        width: 0;
    }

    .col-4,
    .col-7 {
        width: 100%;
    }

    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    p {
        font-size: 3.5vw;
        text-align: justify;
    }

    ul {
        margin-left: -75px;
    }

    li {
        font-size: 2.85vw;
        padding: 2.5%;
    }
}